body {
  text-align: center;
  background-image: url("hex.png");
}
h1,
h2,
h3 {
  font-family: "Thasadith", sans-serif;
}
.main-header {
  padding-top: 45px;
}
.headers-container {
  background-color: rgb(130, 180, 143);
  color: rgb(255, 249, 249);
  margin: auto;
  padding: 10px;
  width: 40%;
  border-radius: 8px;
  box-shadow: 7px 7px lightgrey;
}
.main {
  padding: 10px;
  background-color: rgb(238, 238, 238);
  width: 60%;
  margin: auto;
  border-radius: 10px;
}
.welcome-h2 {
  font-weight: normal;
}
.navDiv {
}
.navbarListItem a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 20px;
}
.navbarListItem {
  padding-left: 10px;
  float: left;
}
.navbarListItem a:hover {
  background-color: #111;
}
.navList {
  left: 0px;
  position: fixed;
  top: 0;
  width: 100%;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}
.content {
  margin-top: 15px;
  padding-bottom: 10px;
}
.iframe-container-intro {
  overflow: hidden;
  padding-top: 56.25%;
  position: relative;
  margin: auto;
}

.iframe-container-intro iframe {
  border: 0;
  height: 80%;
  left: 0;
  right: 0;
  margin: auto;
  position: absolute;
  top: 0;
  width: 80%;
}
.start-btn {
  margin-top: 10px;
  font-size: 20px;
  background-color: rgba(8, 187, 8, 0.726);
  color: white;
  padding: 10px;
  border-radius: 10px;
  transition: all 0.2s ease-in-out;
}
.start-btn:hover {
  cursor: pointer;
  transform: scale(1.1);
  background-color: rgb(8, 187, 8);
}
