body {
  text-align: center;
  background-image: url("hex.png");
}
h1,
h2,
h3 {
   font-family: 'Thasadith', sans-serif;
}
.main {
  background-color: rgb(130, 180, 143);
  color: rgb(255, 249, 249);
  margin: auto;
  padding: 10px;
  width: 80%;
  border-radius: 8px;
}
.welcome-h2 {
  font-weight: normal;
}
