body {
  text-align: center;
  background-image: url("hex.png");
}
h1,
h2,
h3 {
  font-family: "Thasadith", sans-serif;
}
.main-header {
  padding-top: 45px;
}
.main {
  background-color: rgb(130, 180, 143);
  color: rgb(255, 249, 249);
  margin: auto;
  padding: 10px;
  width: 80%;
  border-radius: 8px;
}
.welcome-h2 {
  font-weight: normal;
}
.navDiv {
}
.navbarListItem a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 20px;
}
.navbarListItem {
  padding-left: 10px;
  float: left;
}
.navbarListItem a:hover {
  background-color: #111;
}
.navList {
  left: 0px;
  position: fixed;
  top: 0;
  width: 100%;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}
